[package]
name = "hifitime"
version = "3.8.6"
authors = ["Christopher Rabotin <christopher.rabotin@gmail.com>"]
description = "Ultra-precise date and time handling in Rust for scientific applications with leap second support"
homepage = "https://nyxspace.com/"
documentation = "https://docs.rs/hifitime/"
repository = "https://github.com/nyx-space/hifitime"
keywords = ["date", "time", "science", "leap-second", "no-std"]
categories = ["date-and-time", "no-std"]
readme = "README.md"
license = "Apache-2.0"
exclude = ["*.tar.gz", "data/"]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]
name = "hifitime"

[dependencies]
serde = { version = "1.0.155", optional = true }
serde_derive = { version = "1.0.155", optional = true }
der = { version = "0.6.1", features = ["derive", "real"], optional = true }
pyo3 = { version = "0.20.0", features = ["extension-module"], optional = true }
num-traits = { version = "0.2.15", default-features = false, features = [
    "libm",
] }
lexical-core = { version = "0.8.5", default-features = false, features = [
    "parse-integers",
    "parse-floats",
] }
reqwest = { version = "0.11", features = ["blocking", "json"], optional = true }
tabled = { version = "0.14.0", optional = true }
openssl = { version = "0.10", features = ["vendored"], optional = true }

[target.wasm32-unknown-unknown.dependencies]
js-sys = { version = "0.3"}
wasm-bindgen_rs = { package = "wasm-bindgen", version = "0.2"}
web-sys = { version = "0.3", features = ['Window', 'Performance', 'PerformanceTiming'] }

[target.wasm32-unknown-emscripten.dependencies]
js-sys = { version = "0.3"}
wasm-bindgen_rs = { package = "wasm-bindgen", version = "0.2"}
web-sys = { version = "0.3", features = ['Window', 'Performance', 'PerformanceTiming'] }

[target.asmjs-unknown-emscripten.dependencies]
js-sys = { version = "0.3"}
wasm-bindgen_rs = { package = "wasm-bindgen", version = "0.2"}
web-sys = { version = "0.3", features = ['Window', 'Performance', 'PerformanceTiming'] }

[dev-dependencies]
serde_json = "1.0.91"
criterion = "0.5.1"
iai = "0.1"

[features]
default = ["std"]
std = ["serde", "serde_derive"]
asn1der = ["der"]
python = ["std", "asn1der", "pyo3", "ut1"]
ut1 = ["std", "reqwest", "tabled", "openssl"]

[[bench]]
name = "crit_epoch"
harness = false

[[bench]]
name = "crit_duration"
harness = false

[[bench]]
name = "iai_duration"
harness = false

[[bench]]
name = "iai_epoch"
harness = false
