on:
  pull_request:
  push:
    branches:
      - master

name: Formal Verification Workflow

env:
  RUST_BACKTRACE: 1

jobs:
  formal-verif:
    name: Formal Verification
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.64.0
          override: true

      - name: Install Kani
        run: |
          cargo install --locked kani-verifier
          cargo-kani setup

      - name: Run Kani
        run: |
          # Remove `cdylib` from targets in Cargo.toml because it confuses Kani
          sed -i s/'"cdylib", "rlib"'/'"rlib"'/ Cargo.toml
          cargo kani
